.card {
    padding: 5px;
    font-size: 200px;
}

.color-black {
    color: #0E0503;
}

.color-yellow {
    color: #FEA600;
}

.color-blue {
    color: #051A7A;
}

.color-red {
    color: #F80003;
}

.color-white {
    color: #FFFFFF;
}